 body,html {
 	padding:0;
 	margin:0;
 	height:100%; 	
 	font-family: 'Roboto', 'helvetica', 'arial', sans-serif;
 }

 body { 
 	-webkit-overflow-scrolling: touch;
 	overflow-x:scroll;	
 }

 #wrapper {
 	height:100%;
	width:100%;
	overflow:hidden;
 }


 #updating {
    display:none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index:100;
    padding:5px;
    color:rgba(0,0,0,0.5);
 }


 ul { 	
 	display:block; 

 	/*float:left;*/
    display:inline-block;

 	width:100px;
 	height:100%;
 	overflow:auto;

 	margin:0; 	
 	padding:0;

 	border-right:1px solid #000; 
 	background-color:#fff;
 }

 li {
 	list-style-type: none;
 	border-bottom:1px solid #000;
 	line-height:16px;
 	padding:5px;
 	overflow: hidden;
 }

 li:last-child, li.static {
 	border-bottom:none;
 }

 li:hover {
 	background-color:#fff;    
 }

 li.static {
     white-space:normal;
 }

 li.static:hover{
    background-color:inherit !important;   
 }

 li.close_header {
    cursor:pointer;
 }

 /* li modifiers */
 li.open {
 }

 li .expand, li .contract {
 	float:right;
 	color:#484848;
 	cursor:pointer;
 	height:100%;
 	vertical-align:middle;
 	margin-top:2px;
 }
li .expand.empty, li .contract.empty {
	color:#c8c8c8;
}
#crumbs-0 li .expand.empty, #crumbs-1 li .expand.empty, #crumbs-2 li .expand.empty, #crumbs-3 li .expand.empty {
 	color:#fff;
}
#crumbs-0 li .contract.empty, #crumbs-1 li .contract.empty, #crumbs-2 li .contract.empty, #crumbs-3 li .contract.empty {
    color:#fff;
}

 li .expand:hover {
 	color:#000;
 }

li .edit_button {
    float:right;
    display:none;
    vertical-align:middle;
    margin-top:2px;
    margin-right:4px;
    cursor:pointer;
}

li:hover > .edit_button {
    display:block;
}

 li .close {
 	color:#484848;
 	display:inline-block;
 	cursor:pointer;
 }

  li .close:hover {
 	color:#000;
 }

 li .count {
  float:right;
  min-width: 10px;
  margin-top:2px;
  padding: 1px 7px;
  font-size: 0.7em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;  
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  cursor:pointer;
 }

 li .count i {
    height:16px;
    line-height:16px;   
 }

 li label {
 	float:left;
    display:block;
 	/*match the textarea.edit*/
 	padding:2px;
    margin-bottom:2px;
 	overflow:hidden;
 	border-bottom:1px solid transparent;
    /*multiline :@*/
    white-space:normal;
    cursor:pointer;
 }

 li label .tag {
    color:#000 !important;
    display:inline-block;
    font-size:0.75em;
    margin:0px 2px;
    padding:0px 1px;
    border-radius:2px;
    background-color:rgba(255,255,255,0.5);
    border:1px solid #000;
 }

 /* checkbox */

 div.checkbox {
 	float:left;
 	margin-top:2px;
 	cursor:pointer;
 }

 div.checkbox.disabled {
 	opacity:0.2;
 }

 /* list elements */
 li.list_header {
 	font-weight:bold;
 	border-bottom:2px solid #000;
 }

 li div.settings {
    display:inline-block;
    margin-left:4px;
    color:rgba(0,0,0,0.2);
    cursor:pointer;
 }

 li div.settings:hover {
    color:rgba(0,0,0,1);
 }

 li div.mainmenu {
    display:inline-block;
    margin-right:4px;
    color:rgba(0,0,0,0.8);
    cursor:pointer;
 }

 li div.mainmenu:hover {
    color:rgba(0,0,0,1);
 }

 li div.controls {
    float:right;
 }

 li div.controls > div {
    display:inline-block;
    padding: 0px 2px;
    border-radius:2px;
    cursor:pointer;
    margin-left:3px;
 }

 li div.controls > div:hover {
    background-color:#fff;
 }  

 li div.controls > div.on {
    background-color:#fff;
 }

 /* edit input 
 input.new, input.edit {
 	height:16px;
 	font-family: 'Roboto', sans-serif;
 	font-size:16px;    
 	background-color:transparent;
 	border:none;
 	border-bottom:1px dotted #000;
 	maaaaargin-left:-3px; 
 	padding:2px;
 	outline-width: 0;
 }*/

  textarea.new, textarea.edit {  
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    line-height:16px;
    white-space: pre-wrap;
    background-color:transparent;
    border:none;
    border-bottom:1px dotted #000;
    margin-left:2px; /*hmm*/
    margin-top:2px;
    padding:0px;
    outline-width: 0;
    overflow:hidden;
 }

 li > div.more {
    float:left;
    margin-top:2px;
    cursor:pointer;
 }

  li > div.more:hover {
    background-color:#fff;
 }

 /* vertical modfiiers */

body.vertical {
    overflow-x:auto;  
}

body.vertical > #wrapper {
    overflow: auto;
}

 ul.vertical {
    width:auto;
    height:auto;
    display:block;
    border-right:none;
 }

 ul.vertical li {
    padding-right:5px;
 }

 


/* context */
.context {
    position:absolute;
    background-color:aqua;
}

/* overlays */
#overlay { 
    display:none;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #aaaaaa;
    opacity: 0.3;
}

    /*json*/
    #json_jazz {
    display:none;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    }

    #json_jazz > textarea {
        position:absolute;
        top:5%;
        left:5%;
        width:90%;
        height:80%;
        opacity: 1;
    }

    #json_jazz > div {
        position: absolute;
        top:90%;
        left:5%;
        width:90%;
    } 

    #json_jazz > div > div.note {
        font-style:italic;
        background-color:rgba(255,255,255,0.5);
        float:right;
    }

    /*dialog*/
    #dialog {
        position:fixed;        
        top:25%;        
        left: 50%;      
        display:none;  
        z-index:100;
        white-space:normal;

        border:5px solid #676767;
        border-radius:7px;
        background-color:#fff;

    }

    #dialog .title {
        padding:4px;
        font-weight:bold;
        border-bottom: 5px solid #676767;
        background-color:#676767;
        color:#fff;
    }

     #dialog .title > i { font-weight:normal; }

    #dialog .content {
        padding:4px;
    }

    #dialog .buttons {
        padding:4px;
    }

    #dialog.question {        
        margin-left: -200px; /*half innit*/
        width: 400px;
    }

    #dialog.details {        
        margin-left: -250px; /*half innit*/
        width: 500px;
    }

    @media (max-width: 600px) {
        #dialog {
            margin-left:auto !important;
            top:5% !important;
            left:5% !important;
            width:90% !important;
        }
    }

    /* details dialog */
    #dialog .fieldset {
        border-bottom:1px solid #ccc;
        overflow:hidden;
        padding:4px 0px;
    }

    #dialog .fieldset label {
        float:left;
        width:20%;
    }

    #dialog .fieldset input, #dialog .fieldset textarea {
        float:right;
        width:75%;
    }

    #dialog .fieldset textarea {
    max-height:80px;
    }

 /* colour themes */
 .purple #crumbs-0 { background-color: #CE93D8; }
 .purple #crumbs-1 { background-color: #e5b9ec; }
 .purple #crumbs-2 { background-color: #efd0f4; }
 .purple #crumbs-3 { background-color: #f3def6; }
 .purple #crumbs-4 { background-color: #f2e4f5; }
 .purple #crumbs-5 { background-color: #f5edf6; }
 .purple #crumbs-6 { background-color: #f8f7f8; }
 .purple li .expand.empty, .purple li .contract.empty {color:#e1d6e3;}
 .purple #crumbs-0 li .expand.empty, .purple #crumbs-1 li .expand.empty, .purple #crumbs-2 li .expand.empty,
 .purple #crumbs-0 li .contract.empty, .purple #crumbs-1 li .contract.empty, .purple #crumbs-2 li .contract.empty {
 	color:#f4ecf5;
 }
  .purple li:hover {background-color:#dacbde; }
  .purple li.open {background-color:#aa5db7; color:#fff;}
  .purple li.open textarea {color:#fff;}

 .slate #crumbs-0, .slate #vert-crumbs-0 { background-color: #cdd7dc; }
 .slate #crumbs-1, .slate #vert-crumbs-1  { background-color: #d9e2e6; }
 .slate #crumbs-2, .slate #vert-crumbs-2  { background-color: #e1e9ec; }
 .slate #crumbs-3 { background-color: #e8eef1; }
 .slate #crumbs-4 { background-color: #eef3f5; }
 .slate #crumbs-5 { background-color: #f5f8f9; }
 .slate #crumbs-6 { background-color: #fff; }
 .slate li .expand.empty, .slate li .contract.empty {color:#dfe8ec;}
 .slate #crumbs-0 li .expand.empty, .slate #crumbs-1 li .expand.empty, .slate #crumbs-2 li .expand.empty,
 .slate #crumbs-0 li .contract.empty, .slate #crumbs-1 li .contract.empty, .slate #crumbs-2 li .contract.empty {
 	color:#f1f5f7;
 }

  .slate li:hover {background-color:#a9b5bb; }
  .slate li.open {background-color:#85939a; color:#fff;}
  .slate li.open textarea {color:#fff;}

  /* vertical friendly */

 .vertbw ul { background-color: #fff; }
 .vertbw li { border-bottom:1px solid #afb3b6; font-weight: normal; cursor:pointer; }
 .vertbw li:last-child, .vertbw li.static {
    border-bottom:none;
 }

 .vertbw li.list_header {
    background-color:#5a5e62 !important;
    font-weight:bold;
    color:#fff;
 }
 .vertbw li.list_header:hover {
    background-color: #5a5e62;
 }

 .vertbw .settings, .vertbw .mainmenu { color:#fff; }
 .vertbw .settings:hover, .vertbw .mainmenu:hover { color:#dec1e8; }
 .vertbw li div.controls > div:hover { background-color: inherit; color:#dec1e8; }
 .vertbw li .expand.empty, .vertbw li .contract.empty {color:#dfe8ec;}

 .vertbw li:hover { font-weight:bold; }
 .vertbw li.open {font-weight:bold;background-color:lime;}

/* app specific things */
#dialog_list {
    width:100%;
    padding:4px;
}